* {
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Loader */
.loader {
  width: 100%;
  height: 100%;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  animation: loading 3s linear;
}

@keyframes loading {
  0% {
    opacity: 1;
    z-index: 99;
  }
  100% {
    opacity: 1;
    z-index: 99;
  }
}
.lettre {
  color: #484848;
  font-size: 2.5rem;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.lettre:nth-child(10) {
  animation-delay: 1s;
}

@keyframes flash {
  0% {
    color: #008766;
    text-shadow: 0 0 7px #008766;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #008766;
    text-shadow: 0 0 7px #008766;
  }
}
/* Header */
.logo_container {
  width: 100%;
  height: 63px;
  gap: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.logo_container .logo {
  width: 162px;
}

/* Media query logo */
@media screen and (min-width: 1024px) {
  .logo_container {
    height: 96px;
  }
  .logo_container img {
    width: 200px !important;
  }
}
.location_container {
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location_container .location_dot {
  margin-right: 17px;
}
.location_container .location_dot .fa-location-dot {
  color: #353535;
}
.location_container .location_h2 {
  font-size: 16px;
}

/* Phrase d'accroche */
.container_top {
  background-color: #f3f3f3;
  padding: 40px 0 57px 0;
}

.text_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}
.text_top .text_top_h1 {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 28px;
  text-align: center;
  margin: 0 45px;
}
.text_top .text_top_p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 30px;
}

/* Bouton header */
.button_explore {
  width: 100%;
  margin-top: 27px;
  display: flex;
  justify-content: center;
}
.button_explore a {
  text-decoration: none;
  color: #fff;
}

.btn {
  padding: 13px 19px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 25px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  background: linear-gradient(193.33deg, rgba(146, 86, 220, 0.8) -11.44%, rgba(255, 121, 217, 0.7803921569) 123.93%);
}

/* Fonctionnement */
.choix_h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 54px 0 0 20px;
}

.choix_container {
  padding: 20px;
  width: 100%;
  display: grid;
  gap: 25px;
}
.choix_container .container_filters {
  margin: 0 0 0 20px;
}
.choix_container .container_filters .filter {
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  padding: 30px;
  position: relative;
}
.choix_container .container_filters .filter .number {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  position: absolute;
  left: -12px;
}
.choix_container .container_filters .filter .text_filter {
  margin-left: 16px;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
}
.choix_container .container_filters .filter .fa-mobile-screen-button,
.choix_container .container_filters .filter .fa-list-ul,
.choix_container .container_filters .filter .fa-store {
  margin-right: 27px;
}

/* Media query "Fonctionnement" */
/* Breakpoint dekstop */
@media screen and (min-width: 1024px) {
  .choix_h2 {
    margin: 50px 0 26px 180px;
  }
  .choix_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 37px;
    width: 100%;
    padding: 0 180px 50px 180px;
    justify-content: center;
  }
  .choix_container .container_filters {
    width: 323px;
    margin: 0;
  }
}
/* Liste restaurants */
.container_restaurant {
  background: #f7f7f7;
}

.h2_restaurant {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 54px 0 0 20px;
}

.restaurant_selection {
  display: flex;
  flex-direction: column;
  margin: 28px 18px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 251px;
  justify-content: flex-end;
  border-radius: 15px 15px 0 0;
  opacity: 0;
  transform: translateX(100%);
  animation: apparition 0.4s 1.6s ease-out forwards;
}
.restaurant_selection:nth-child(1) {
  animation-delay: 0.2s;
}
.restaurant_selection:nth-child(2) {
  animation-delay: 0.4s;
}
.restaurant_selection:nth-child(3) {
  animation-delay: 0.6s;
}
.restaurant_selection:nth-child(4) {
  animation-delay: 0.8s;
}
.restaurant_selection .img_restaurant {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
.restaurant_selection .rectangle_nouveau {
  display: inline-block;
  width: 80px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  background-color: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #008766;
  position: absolute;
  top: 12px;
  right: 12px;
}
.restaurant_selection span {
  font-size: 5rem;
  cursor: pointer;
  font-weight: 400;
  position: absolute;
  right: 25px;
  bottom: 33px;
  font-size: 30px;
  top: 197px;
}
.restaurant_selection span .fa-heart {
  cursor: pointer;
}
.restaurant_selection span .fa-heart:hover {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  font-weight: 600;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.restaurant_selection .text_restaurant {
  margin-left: 18px;
}
.restaurant_selection .text_restaurant .restaurant_name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 16px 0 0 0;
}
.restaurant_selection .text_restaurant .restaurant_location {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  margin: 3px 0 12px 0;
}

.last_restaurant {
  margin-bottom: 68px;
}

/* Media query Restaurant */
@media screen and (min-width: 1024px) {
  .h2_restaurant {
    padding: 30px 0 0 180px;
    margin: 0;
    background: #f7f7f7;
  }
  .container_restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 92px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 50px;
    padding: 0 180px;
  }
  .container_restaurant .restaurant_selection {
    margin: 28px 0;
  }
}
/* Animation apparition restaurant */
@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
/* Footer */
footer {
  background-color: #353535;
  padding-bottom: 20px;
}
footer .logo {
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin-left: 25px;
  padding-top: 22px;
}
footer ul {
  list-style-type: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-left: 25px;
}
footer ul li {
  margin: 7px 0;
}
footer ul li:hover {
  cursor: pointer;
}
footer ul .link_svg {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer ul .link_svg .fa-utensils,
footer ul .link_svg .fa-handshake {
  margin-right: 11px;
}
footer ul .footer_text_bottom {
  font-weight: 400;
}

/* Media query footer */
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  footer .logo {
    padding-right: 50px;
  }
  footer ul,
  footer .footer_text_bottom {
    display: flex;
    padding: 0 12px;
  }
  footer .link_1 {
    padding-right: 20px;
  }
  footer .link_2 {
    padding-right: 30px;
  }
  footer .link_3 {
    padding-right: 20px;
  }
  footer .link_4 {
    padding-right: 30px;
  }
}/*# sourceMappingURL=style.css.map */